sudo: false

# Elasticsearch 5 requires Java 8
# https://www.peterbe.com/plog/elasticsearch-5-in-travis-ci 
addons:
  apt:
    packages:
      - oracle-java8-set-default

before_install:
  - curl -O https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-5.1.1.deb && sudo dpkg -i --force-confnew elasticsearch-5.1.1.deb && sudo service elasticsearch start

services:
  - mongodb
  - couchdb
  - redis-server

language: node_js
node_js:
  - "0.12"
  - "4"
  - "6"
  - "8"

branches:
  only:
    - master

notifications:
  email:
    - adriano@raiano.ch
